<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<!-- Configuración de Hibernate -->
<hibernate-configuration>

    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL55Dialect</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
       <!-- <property name="hibernate.hbm2ddl.auto">create</property>  CAMBIAR UNA VEZ CREADA LA BBDD -->
        <property name="hibernate.connection.datasource">java:comp/env/jdbc/EntreHobbies</property>
        <mapping class="es.entrehobbies.beans.Usuario"/>
        <mapping class="es.entrehobbies.beans.Evento"/>
        <mapping class="es.entrehobbies.beans.Categoria"/>
    </session-factory>
</hibernate-configuration>
