* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

/*----- [ COLORES ] -----*/

.color-pm {
    color: #6F42C1;
}

.nav-link.link-activo{
    background-color: #f8f9fa !important;
    border-left: 4px solid #6F42C1 !important;
    color: #6F42C1 !important;
}

input[type="file"]::file-selector-button {
    background-color: #6F42C1;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

input[type="file"]::file-selector-button:hover {
    background-color: rgba(75, 30, 138, 1) !important;
}

.border-img {
    border: 3px solid #6F42C1;
    transition: box-shadow 0.4s ease, border 0.4s ease;
}

.border-img:hover {
    box-shadow:
            0 0 5px #6F42C1,
            0 0 10px #6F42C1,
            0 0 20px #6F42C1,
            0 0 40px #6F42C1;
}

input[type="search"]:focus,
select:focus {
    border-color: #6F42C1 !important;
    box-shadow: 0 0 0 0.2rem rgba(111, 66, 193, 0.25) !important;
}

input:not([type="search"]):focus {
    border-color: rgba(75, 30, 138, 1);
    box-shadow: 0 0 0 0.2rem rgba(75, 30, 138, 0.25);
}

footer a:hover {
    color: #6F42C1 !important;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    transform: scale(1.1);
    transition: transform 0.3s ease, text-shadow 0.3s ease;
}

footer a i {
    transition: color 0.3s ease;
}

footer a:hover i {
    color: #6F42C1 !important;
}

.alert-success {
    background-color: #a78cde !important;
    color: white !important;
    border: 1px solid rgba(75, 30, 138, 1) !important;
}

/*----- [ NAVBAR ] -----*/

.navbar-transparent {
    background-color: rgba(255, 255, 255, 0.8) !important;
    transition: background-color 0.3s ease-in-out;
}

/*-----[ BOTON DE REFRESCO ]------*/
.btn-refresh {
    background-color: transparent;
    border: none;
}

/*-------[ VISTA - LOGIN ]-------*/

.bg-gradient-morado-blanco {
    background: #6F42C1;
    background: linear-gradient(308deg, rgba(111, 66, 193, 1) 0%, rgba(75, 30, 138, 1) 50%);
}

.text-login {
    font-size: 8rem !important;
}

.animacion-aparicion {
    animation: fadeInSlide 0.4s ease forwards;
}

.card-link {
    background: rgba(255, 255, 255, 0.7);
    border-radius: 1rem;
    padding: 10px;
    backdrop-filter: blur(8px);
}

.card-body-link {
    position: relative;
    z-index: 1;
}

.btn-login {
    background-color: white;
    color: #6f42c1;
    border-color: #6f42c1;
}

.btn-login:hover {
    background-color: #6f42c1;
    border-color: white;
    color: white;
}

.btn-login:disabled {
    background-color: #cccccc;
    border-color: #cccccc;
    color: #999999;
}


/*------[ BOTONES ]-------*/

.btn-main {
    background-color: #6f42c1;
    color: white;
    border-color: white;
}

.btn-main:hover {
    background-color: white;
    border-color: #6f42c1;
    color: #6f42c1;
}

.btn-main:active {
    background-color: #6F42C1;
    border-color: #6F42C1;
    color: white;
}

.btn-link {
    background: none;
    border: none;
    text-decoration: none;
    color: #6f42c1;
    cursor: pointer;
}

.btn-link:hover {
    text-decoration: underline;
    color: white;
}

.btn-regex {
    border: none;
    border-radius: 50% !important;
    width: 32px;
    height: 32px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*------[ BOTON-CREAR-EVENTO ]-------*/

#botonCrearEvento {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    background-color: #6F42C1;
    color: white;
    border: none;
    z-index: 1050;
    transition: background-color 0.3s ease;
}

#botonCrearEvento:hover {
    background-color: white;
    border-color: #6f42c1;
    color: #6f42c1;
}

.step {
    display: none;
}
.step.active {
    display: block;
}

/*------[ CARTA ]-------*/

.carta {
    transition: transform 0.3s ease-in-out;
}

.carta:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

/*------[ ANIMACIONES ]-------*/

@keyframes fadeInSlide {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
