* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

/*----- [ COLORES ] -----*/

.color-pm {
    color: #6F42C1;
}

.nav-link.link-activo{
    background-color: #f8f9fa !important;
    border-left: 4px solid #6F42C1 !important;
    color: #6F42C1 !important;
}

input[type="file"]::file-selector-button {
    background-color: #6F42C1;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

input[type="file"]::file-selector-button:hover {
    background-color: rgba(75, 30, 138, 1) !important;
}

.border-img {
    border: 3px solid #6F42C1;
    transition: box-shadow 0.4s ease, border 0.4s ease;
}

.border-img:hover {
    box-shadow:
            0 0 5px #6F42C1,
            0 0 10px #6F42C1,
            0 0 20px #6F42C1,
            0 0 40px #6F42C1;
}

/*----- [ TEMA ] -----*/

[data-bs-theme="light"] {
    --bs-body-bg: #fff;
    --bs-body-color: #000;
}

[data-bs-theme="dark"] {
    --bs-body-bg: #121212;
    --bs-body-color: #f8f9fa;
}

#themeIcon {
    cursor: pointer;
    z-index: 10;
    transition: transform 0.3s ease;
}

#themeIcon:hover {
    transform: scale(1.2);
}

.theme-transition {
    transition: background-color 0.3s ease, color 0.3s ease;
}


/*-----[ BOTON DE REFRESCO ]------*/
.btn-custom {
    background-color: transparent;
    border: none;
}

/*-------[ VISTA - LOGIN ]-------*/

.bg-gradient-morado-blanco {
    background: #6F42C1;
    background: linear-gradient(308deg, rgba(111, 66, 193, 1) 0%, rgba(75, 30, 138, 1) 50%);
}

.text-login {
    font-size: 8rem !important;
}

.animacion-aparicion {
    animation: fadeInSlide 0.4s ease forwards;
}

.card-link {
    background: rgba(255, 255, 255, 0.7);
    border-radius: 1rem;
    padding: 10px;
    backdrop-filter: blur(8px);
}

.card-body-link {
    position: relative;
    z-index: 1;
}

.btn-login {
    background-color: white;
    color: #6f42c1;
    border-color: #6f42c1;
}

.btn-login:hover {
    background-color: #6f42c1;
    border-color: white;
    color: white;
}

.btn-login:disabled {
    background-color: #cccccc;
    border-color: #cccccc;
    color: #999999;
}


/*------[ BOTONES ]-------*/

.btn-main {
    background-color: #6f42c1;
    color: white;
    border-color: white;
}

.btn-main:hover {
    background-color: white;
    border-color: #6f42c1;
    color: #6f42c1;
}

.btn-link {
    background: none;
    border: none;
    text-decoration: none;
    color: #6f42c1;
    cursor: pointer;
}

.btn-link:hover {
    text-decoration: underline;
    color: white;
}

.btn-regex {
    border: none;
    border-radius: 50% !important;
    width: 32px;
    height: 32px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*------[ ANIMACIONES ]-------*/

@keyframes fadeInSlide {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}